@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

html, body {
    background-color: black;
    width: 100vw;
}
.Container {
    background-color: black;
    position: absolute;
    align-items: center;
    max-width: '100%';
}
.array-bars {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
@media only screen and (min-width : 1200px) {
    .container { max-width: none; }
}
h1 {
    text-align: center;
    color: cornsilk;
    font-family: 'Source Code Pro', monospace;
}
.buttons{
    align-items: center;
    justify-content: center;
    display: flex;
}
.bar {
    width: 7px;
    border-radius: 25px 10px 3px 3px;
    background-color: #3da4ab;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0.5px;
}